<!DOCTYPE html>
<html>
<head>
	<title>PMDynaform</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="pmDynaform.css">
	<script type="text/javascript" src="jquery-1.11.js"></script>
	<script type="text/javascript" src="jquery.inputmask.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="underscore-1.6.js"></script>
	<script type="text/javascript" src="backbone-min.js"></script>
	<script type="text/javascript" src="restclient.js"></script>	
	
</head>
<body>
	<div id="container"></div>

<script type="text/template" id="tpl-text">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%>">
        <% if(group === "form") {%>
            <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
            	<span data-toggle="tooltip" data-placement="bottom" title="<%=tooltipLabel%>"><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
            </label>
        <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
	  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
	  		<%} else if (layout === "form"){ %>
	  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
	  		<%} else if (layout === "responsive") {%> 
	  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
	  		<%}%>>
			<input  id="<%=id%>"
					name="<%=name%>"
					type=<%=type%>
					class="<%=namespace%>-control-<%=type%> form-control" 
					placeholder= "<%= placeholder %>"
					value= "<%= value%>"
					<% if(typeof maxLength === "number"){%>
						maxlength="<%= maxLength%>"
					<% }%>
					<% if(disabled === true){%>disabled<%}%>
					
					<% if (autoComplete === "on" || autoComplete === "off") { %>
						autocomplete = "<%= autoComplete %>"
					<%} else{%>
						autoComplete = "off"
					<%}%>

					>
			<%if (hint !== "" && hint !== null){%>
				<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
			<%}%>
		</div>
    </div>
</script>
<script type="text/template" id="tpl-date">
    <div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%>">
	  <div class="input-append date">
	  		<% if(group === "form") {%>
			  	<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
			  		<span><%= label %></span>
				  	<%if(required){%>
			  			<span class="pmdynaform-field-required">*</span>
			  		<%}%>
			  	</label>
			<%} else if((group !== "form") && (layout === "form")){%>
				<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
			  		<span><%= label %></span>
			  	</label>
			<%}%>
		  	<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
		  		<div class="input-group">
			    	<input 	id="<%=id%>" 
			    			name="<%=name%>"
			    			class="<%=namespace%>-control-<%=type%> form-control" 
			    			data-format="<%=mask%>" 
			    			type="text"
			    			placeholder= "<%= placeholder %>"
							value= "<%= value%>"
			    			<% if(disabled === true){%>disabled<%}%>
			    	></input>
				    <span class="pmdynaform-datetime-icon input-group-addon add-on">
				      <i 	class=
		      				<% if (pickType === "datetime" || pickType === "date"){ %>
		      					"glyphicon glyphicon-calendar"
		      				<% }else{ %>
		      					"glyphicon glyphicon-dashboard"
		      				<% } %>
			      			data-time-icon="icon-time" data-date-icon="icon-calendar">	      	
				      </i>
				    </span>
				   	<%if (hint !== "" && hint !== null){%>
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
					<%}%>
			  	</div>
		  	</div>
		</div>
	</div>	
</script>





<script type="text/template" id="tpl-textarea">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
		<% if(group === "form") {%>
			<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
				<span><%= label %></span>
				<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
			</label>
		<%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<textarea 	id="<%=id%>" 
						name="<%=name%>" 
						class="<%=namespace%>-control-<%=type%> form-control" 
						rows="<%= rows %>"
				<% if(disabled === true){%>disabled<%}%>
			><%= value %></textarea>
			<%if (hint !== "" && hint !== null){%>
				<span class="glyphicon glyphicon-info-sign pmdynaform-align-hint" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
			<%}%>
			
		</div>
	</div>	
</script>

 <script type="text/template" id="tpl-checkbox">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
    	<% if(group === "form") {%>
	    	<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
	    		<span><%= label %></span>
	    		<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	    	</label>
	    <%} else if((group !== "form") && (layout === "form")){%>
				<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
			  		<span><%= label %></span>
			  	</label>
			<%}%>
    	<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
    		<div class="pmdynaform-control-checkbox-list">
    			<div class="pmdynaform-checkbox-items">
	    			<% for(var i=0; i<options.length; i+=1) { %>
						<div class="checkbox">        
				        	<label>
				        		<input id="<%=id%>_<%=i%>"
				        			name="<%=name%>"
				        			class="<%=namespace%>-control-<%=type%>"
					        		value="<%=options[i].value%>" 
					        		type="<%=type%>"
					        		<% if(options[i].selected){%>checked<%}%>
					        		<% if(disabled === true){%>disabled<%}%>
					        		>
					        	<span><%= options[i].label %> </span> 
				        	</label>
						</div>
				    <% } %>	
	    		</div>
	    		<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign pmdynaform-checkbox-hint" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>
    		</div>
		</div>
	</div>    
 </script>


<script type="text/template" id="tpl-radio">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
	    <% if(group === "form") {%>
	    	<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
	    		<span><%= label %></span>
	    		<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	    	</label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
    	<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
	    	<div class="pmdynaform-control-radio-list">
	    		<div class="pmdynaform-radio-items">
	    			<% for(var i=0; i<options.length; i+=1) { %>
			    		<div class="radio">
			    			<label>
			    				<input id="<%=id%>_<%=i%>"
			    					name="<%=name%>"
			    					class="<%=namespace%>-control-<%=type%>"
					        		value="<%=options[i].value%>"
					        		type="<%=type%>"
					        		<% if(value.toString() === options[i].value.toString()){%>checked<%}%>
					        		<% if(disabled === true){%>disabled<%}%>
					        		>
				        		<span><%= options[i].label %> </span>
			    			</label>
						</div>
			    	<% } %>
	    		</div>
	    		<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign pmdynaform-radio-hint" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>	
	    	</div>
		</div>
	</div>
 </script>



<script type="text/template" id="tpl-dropdown">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">	
		<% if(group === "form") {%>
			<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
				<span><%= label %></span>
				<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	        </label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<select 	id="<%=id%>" 
						name="<%=name%>"
						class="<%=namespace%>-control-<%=type%> form-control"
				<% if(disabled === true){%>disabled<%}%>>
				<% for(var i=0; i<options.length; i+=1) { %>
			        <option value=<%= options[i].value %> <%if(options[i].value.toString() === defaultValue.toString()){%>selected<%}%>><%= options[i].label %></option>
			    <% } %>
		    </select>
		    <%if (hint !== "" && hint !== null){%>
				<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
			<%}%>
		</div>
	</div>	
</script>

<script type="text/template" id="tpl-button">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> text-center">
		<button id="<%=id%>" name="<%=name%>" type=<%=type%> class="btn btn-primary"
			<% if(disabled === true){%>disabled<%}%>> 
			<span> <%= label %> </span>
		</button>
	</div>
</script>

<script type="text/template" id="tpl-submit">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> text-center">
		<button id="<%=id%>" name="<%=name%>" type=<%=type%> class="btn btn-default"
			<% if(disabled === true){%>disabled<%}%>> 
			<span> <%= label %> </span>
		</button>
	</div>	
</script>

<script type="text/template" id="tpl-file">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
	    <% if(group === "form") {%>
		    <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
		    	<span><%= label %></span>
		        <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
		    </label>
		<%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if(group === 'form'){ %> class="pmdynaform-file-control col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>" <%}%> >
			<div class="pmdynaform-file-container">
				<button type="button" class="<%=namespace%>-control-<%=type%> form-control">
					<%=labelButton%>
				</button>
				<input id="<%=id%>" name="<%=name%>" type="file" style="display:none;"
					<% if(disabled === true){%>disabled<%}%>
					<% if(multiple === true){%>multiple<%}%>
				>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>
				<div name="button-all" class="btn-group btn-group-justified" style="display: none;">
					<div class="pmdynaform-file-buttonup btn-group">
						<button class="glyphicon glyphicon-upload btn btn-success btn-sm">
						All
						</button>
					</div>
					<div class="pmdynaform-file-buttoncancel btn-group" style="display: none;">
						<button class="glyphicon glyphicon-remove btn btn-danger btn-sm">
						All
						</button>
					</div>
					<div class="pmdynaform-file-buttonremove btn-group">
						<button class="glyphicon glyphicon-trash btn btn-danger btn-sm">
						All
						</button>
					</div>						
				</div>
				<% if(dnd) {%>
					<p style="float:left;" class="help-block"><%=dndMessage%></p>
				<%}%>
				<%if(preview) {%>
					<div class="pmdynaform-file-droparea" style="height:<%=height%>;"></div>
				<% } else {%>
					<div class="pmdynaform-file-list"></div>
				<% } %>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="tpl-suggest-list">
	<ul class="list-group col-lg-11 col-sm-11 col-md-11 col-xs-10 pmdynaform-suggest-list">  		
	</ul>
</script>
<script type="text/template" id="tpl-suggest-element">
  		<span data-value="<%= value %>" class="list-group-item"><%= label %></span>  		
</script>

 <script type="text/template" id="tpl-link">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> col-xs-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%>">
        <% if(group === "form") {%>
            <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
            	<span><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
            </label>
        <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<a id="<%=id%>" name="<%=name%>" href="<%=href%>" target="<%=target%>" class="btn btn-link"
				<% if(disabled === true){%>disabled<%}%>> 
				<span> <%= value %> </span>
			</a>
		</div>
    </div>
 </script>

 <script type="text/template" id="tpl-empty">
		<div class="form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>">
        </div>   
 </script>

 <script type="text/template" id="tpl-label-title">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%>">
		<h4>
			<p class="<%=className[type]%>">
				<span><%= label %></span>
			</p>
		</h4>				
	</div>
 </script>

 <script type="text/template" id="tpl-label-subtitle">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%>">
		<h5>
			<p class="<%=className[type]%>">
				<span><%= label %></span>
			</p>
		</h5>				
	</div>
 </script>

<script type="text/template" id="tpl-label">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
		<% if(group === "form") {%>
			<label class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
	        	<span><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	        </label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<div class="pmdynaform-label-options">
				<%for(var k=0; k<options.length; k+=1){%>
					<span><%=options[k]%></span>
				<%}%>	
			</div>
			<%if (hint !== "" && hint !== null){%>
				<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
			<%}%>
		</div>
	</div>
</script>

<script type="text/template" id="tpl-hidden">
		<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%>">
				<input 	id="<%=id%>" 
						name="<%=name%>" 
						class="<%=namespace%>-control-<%=type%> form-control" 
						type="hidden"
						value= "<%= value%>">
		</div>
</script>

<script type="text/template" id="tpl-image">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> col-xs-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%>">
        <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
        	<span><%= label %></span>
        </label>
        <div class="<%=namespace%>-control-<%=type%> col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>">
        	<p>
        		<img id="<%=id%>" name="<%=name%>" class="img-responsive <%=shape%>" src="<%=src%>" alt="<%=alt%>" scale="0">	
        		<span class="pmdynaform-image-comment text-primary"><%=comment%></span>
        	</p>
        </div>
        
	</div>
</script>

<script type="text/template" id="tpl-audio">
	<audio class="embed-responsive-item" src="<%=path%>" width="200" height="200" autobuffer autoplay controls>
		<p>Your browser does not support the audio element </p>
	</audio>
</script>

<script type="text/template" id="tpl-video">
	<video class="embed-responsive-item" src="<%=path%>"  width="200" height="200" autoplay autobuffer controls>
		<p>Your browser does not support the video element </p>
	</video>
</script>

<script type="text/template" id="tpl-subform">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>">
	</div>
</script>

<script type="text/template" id="tpl-loading">
	<div class="pmdynaform-form-message-loading">
	    <h3><%=title%></h3>
    	<div class="alert alert-warning" role="alert">
	    	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
			 <strong><%=msg%></strong>
	     </div>
		
	</div>
	<div id="shadow-form"></div>
</script>

<script type="text/template" id="fieldset-template">
	<fieldset>
	    <legend>Options</legend>
	    
	        <div class='col-sm-12'>
	            <div class='form-group'>
	            </div>
	        </div>
	</fieldset>
</script>

<script type="text/template" id="tpl-panelfield">
	<div class="col-xs-<%- colSpan %>">		  			 			 
	</div>
</script>

<script type="text/template" id="tpl-row">
	<div class="pmdynaform-field row show-grid">	      
	</div>
</script>

<script type="text/template" id="tpl-validator">
	<ul>
		<% for (var item in message) {%>
			<li> <span><%= message[item]%> </span> </li>
		<%}%>
	</ul>
</script>
	<script type="text/javascript" src="PMDynaform.js"></script>
	<script type="text/javascript" src="appBuild.js"></script>
</body>
</html>