<script type="text/template" id="tpl-text">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>  pmdynaform-field<%}%>">
        <% if(group === "form") {%>
            <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
            	<span data-toggle="tooltip" data-placement="bottom" title="<%=tooltipLabel%>" class="textlabel"><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
            </label>
        <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class = "textlabel"><%= label %></span>
				<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
	  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
	  		<%} else if (layout === "form"){ %>
	  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
	  		<%} else if (layout === "responsive") {%> 
	  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
	  		<%}%>>
			<input
				<% if  ( group === "grid") { %>
					id= "form<%=id%>"
					name="form<%=name%>"
				<%} else{%>
					id= "form[<%=id%>]"
					name="form[<%=name%>]"
				<%}%>
				mask = "<%=mask%>"
				type = <%=type%>
				class="<%=namespace%>-control-<%=type%> form-control" 
				placeholder= "<%= placeholder %>"
				value= "<%= value%>"
				<% if(disabled === true){%>disabled<%}%>
				
				<% if (autoComplete === "on" || autoComplete === "off") { %>
					autocomplete = "<%= autoComplete %>"
				<%} else{%>
					autoComplete = "off"
				<%}%>
				>
				<% if (type === "suggest"){ %> 
					<input type="hidden" value="<%= data['value']%>"
						<% if  ( group === "grid") { %>
							id = "form<%=id%>_label"
							name ="form<%=name%>_label"
						<%} else{%>
							id = "form[<%=id%>]"
							name ="form[<%=name%>]"
						<%}%>
					>
				<%}%>	
				<% if (group === "form") { %>
					<%if (hint !== "" && hint !== null){%>
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
					<%}%>						
				<% } %>
				<% if (type !== "suggest"){ %> 
					<input type="hidden" 
						<% if  ( group === "grid") { %>
							id = "form<%=id%>_label"
							name ="form<%=name%>_label"
						<%} else{%>
							id = "form[<%=id%>_label]"
							name ="form[<%=name%>_label]"
							value = "<%= data['label']%>"
						<%}%>
					>
				<%}%>	
		</div>
    </div>
</script>

<script type="text/template" id="tpl-textarea">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
		<% if(group === "form") {%>
			<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
				<span class="textlabel"><%= label %></span>
				<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
			</label>
		<%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<textarea 	
						<% if  ( group === "grid") { %>
							id = "form<%=id%>"
							name ="form<%=name%>"
						<%} else{%>
							id = "form[<%=id%>]"
							name ="form[<%=name%>]"
						<%}%>
						class="<%=namespace%>-control-<%=type%> form-control" 
						rows="<%= rows %>"
						placeholder= "<%= placeholder %>"
				<% if(disabled === true){%>disabled<%}%>
			><%= value %></textarea>
			<% if (group === "form") { %>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>						
			<% } %>
			<input type="hidden"
				<% if  ( group === "grid") { %>
					id = "form<%=id%>_label"
					name ="form<%=name%>_label"
				<%} else{%>
					id = "form[<%=id%>_label]"
					name ="form[<%=name%>_label]"
 					value="<%= data['label']%>"
				<%}%>
			>
		</div>
	</div>	
</script>

 <script type="text/template" id="tpl-checkbox">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
    	<% if(group === "form") {%>
	    	<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
	    		<span class="textlabel"><%= label %></span>
	    		<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	    	</label>
	    <%} else if((group !== "form") && (layout === "form")){%>
				<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
			  		<span class="textlabel"><%= label %></span>
			  	</label>
			<%}%>
    	<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
    		<div class="pmdynaform-control-checkbox-list">
    			<div class="pmdynaform-checkbox-items">
	    			<% for(var i=0; i<options.length; i+=1) { %>
						<div class="checkbox"
							<%if(dataType === "boolean" && i > 0){%>
							style = "display:none"
							<%}%>
						>        
				        	<label>
				        		<input 
									<% if  ( group === "grid") { %>
										id = "form<%=id%>"
										name ="form<%=name%>"
									<%} else {%>
										id = "form[<%=id%>][<%=options[i].value%>]"
										name ="form[<%=name%>][]"
									<%}%>
				        			class="<%=namespace%>-control-<%=type%>"
					        		value="<%=options[i].value%>" 
					        		type="<%=type%>"
					        		<% if(options[i].selected){%>checked<%}%>
					        		<% if(disabled === true){%>disabled<%}%>>
					        		<%if(dataType !== "boolean"){%>
										<span><%= options[i].label %> </span>
					        		<%}%>
				        	</label>
						</div>
				    <% } %>	
	    		</div>
				<% if (group === "form") { %>
					<%if (hint !== "" && hint !== null){%>
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
					<%}%>						
				<% } %>
    		</div>
			<input type="hidden" 
				<% if  ( group === "grid") { %>
					id = "form<%=id%>_label"
					name ="form<%=name%>_label"
				<%} else{%>
					id = "form[<%=id%>_label]"
					name ="form[<%=name%>_label]"
				<%}%>
			>
		</div>
	</div>    
 </script>


<script type="text/template" id="tpl-radio">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
	    <% if(group === "form") {%>
	    	<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
	    		<span class="textlabel"><%= label %></span>
	    		<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	    	</label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>
    	<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
	    	<div class="pmdynaform-control-radio-list">
	    		<div class="pmdynaform-radio-items">
	    			<% for(var i=0; i<options.length; i+=1) { %>
			    		<div class="radio">
			    			<label>
			    				<input 
									<% if  ( group === "grid") { %>
										id = "form<%=id%>"
										name ="form<%=name%>"
									<%} else{%>
										id = "form[<%=id%>]"
										name ="form[<%=name%>]"
									<%}%>
			    					class="<%=namespace%>-control-<%=type%>"
					        		value="<%=options[i].value%>"
					        		type="<%=type%>"
					        		<% if(value.toString() === options[i].value.toString()){%>checked<%}%>
					        		<% if(disabled === true){%>disabled<%}%>
					        		>
				        		<span><%= options[i].label %> </span>
			    			</label>
						</div>
			    	<% } %>
	    		</div>
				<input type="hidden" value="<%= data['label']%>"
					<% if  ( group === "grid") { %>
						id = "form<%=id%>_label"
						name ="form<%=name%>_label"
					<%} else{%>
						id = "form[<%=id%>_label]"
						name ="form[<%=name%>_label]"
					<%}%>
				>
				<% if (group === "form") { %>
					<%if (hint !== "" && hint !== null){%>
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
					<%}%>						
				<% } %>
	    	</div>
		</div>
	</div>
 </script>



<script type="text/template" id="tpl-dropdown">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">	
		<% if(group === "form") {%>
			<label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label">  
				<span class="textlabel"><%= label %></span>
				<%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	        </label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="pmdynaform-dropdown-control col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
		  		<%} else if (layout === "form"){ %>
		  			class="pmdynaform-dropdown-control col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="pmdynaform-dropdown-control col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<select 	
				<% if  ( group === "grid") { %>
					id = "form<%=id%>"
					name ="form<%=name%>"
				<%} else{%>
					id = "form[<%=id%>]"
					name ="form[<%=name%>]"
				<%}%>
						class="<%=namespace%>-control-<%=type%> form-control"
				<% if(disabled === true){%>disabled<%}%>>
				<% for(var i=0; i<options.length; i+=1) { %>
			        <option value=<%= options[i].value %> 
			        	<%if(options[i].value.toString() === value.toString() && (value.length)){%>
			        		selected<%}%>
			        >
			        	<%= options[i].label %>
			        </option>
			    <% } %>
		    </select>
			<% if (group === "form") { %>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>						
			<% } %>
			<input type="hidden" value="<%= data['label']%>"
				<% if  ( group === "grid") { %>
					id = "form<%=id%>_label"
					name ="form<%=name%>_label"
				<%} else{%>
					id = "form[<%=id%>_label]"
					name ="form[<%=name%>_label]"
				<%}%>
			>
		</div>
	</div>	
</script>

<script type="text/template" id="tpl-button">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> text-center">
		<button id="form[<%= label %>]" name="form[<%= label %>]" type=<%=type%> class="btn btn-primary"
			<% if(disabled === true){%>disabled<%}%>> 
			<span> <%= label %> </span>
		</button>
	</div>
</script>

<script type="text/template" id="tpl-submit">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> text-center">
		<button id="form[submit]" name="form[submit]" type=<%=type%> class="btn btn-default"
			<% if(disabled === true){%>disabled<%}%>> 
			<span> <%= label %> </span>
		</button>
	</div>	
</script>

<script type="text/template" id="tpl-file">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
	    <% if(group === "form") {%>
		    <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
		    	<span class="textlabel"><%= label %></span>
		        <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
		    </label>
		<%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>
		<div <%if(group === 'form'){ %> class="pmdynaform-file-control col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control" <%}%> >
			<div class="pmdynaform-file-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button type="button" class="<%=namespace%>-control-<%=type%> form-control"
					<% if(disabled === true){%>disabled<%}%>
					<% if(mode === "view"){%>style="display:none;"<%}%>
				>
					<%=labelButton%>
				</button>
				<%if (group === "form"){%>
					<%if (hint !== "" && hint !== null){%>
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
					<%}%>
				<%}%>

				<input 
					<% if  ( group === "grid") { %>
						id = "form<%=id%>"
						name ="form<%=name%>"
					<%} else{%>
						id = "form[<%=name%>]"
						name ="form[<%=name%>]"
					<%}%>
				type="file" style="visibility:hidden;"
					<% if(disabled === true){%>disabled<%}%>
					<% if(multiple === true){%>multiple<%}%>
				>
				<input type="hidden" 
					<% if  ( group === "grid") { %>
							id = "form<%=id%>_label"
							name ="form<%=name%>_label"
						<%} else {%>
							id = "form[<%=id%>]"
							name ="form[<%=name%>]"
					<%}%>
				>
				<div name="button-all" class="btn-group btn-group-justified" style="display: none;">
					<div class="pmdynaform-file-buttonup btn-group">
						<button class="glyphicon glyphicon-upload btn btn-success btn-sm">
						All
						</button>
					</div>
					<div class="pmdynaform-file-buttoncancel btn-group" style="display: none;">
						<button class="glyphicon glyphicon-remove btn btn-danger btn-sm">
						All
						</button>
					</div>
					<div class="pmdynaform-file-buttonremove btn-group">
						<button class="glyphicon glyphicon-trash btn btn-danger btn-sm">
						All
						</button>
					</div>						
				</div>
				<% if(dnd) {%>
					<p style="float:left;" class="help-block"><%=dndMessage%></p>
				<%}%>
				<%if(preview) {%>
					<div class="pmdynaform-file-droparea" style="height:<%=height%>;"></div>
				<% } else {%>
					<div class="pmdynaform-file-list" style="display:none"></div>
				<% } %>
				<%if(data['value'].length){%>
					<div class= "col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control">
		    			<% for(var i = 0; i < data['label'].length; i+=1) { %>
							<a style="float:left"
								href = "<%=data['value'][i]%>" class="btn btn-link <%=namespace%>-control-<%=type%>">
								<span> <%=data['label'][i]%></span>
							</a>
					    <% } %>
					</div>
				<%}%>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="tpl-suggest-list">
	<ul class="list-group col-lg-11 col-sm-11 col-md-11 col-xs-10 pmdynaform-suggest-list">  		
	</ul>
</script>
<script type="text/template" id="tpl-suggest-element">
  		<span data-value="<%= value %>" class="list-group-item"><%= label %></span>  		
</script>

 <script type="text/template" id="tpl-link">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%>  <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
        <% if(group === "form") {%>
            <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
            	<span class="textlabel"><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
            </label>
        <%} else if((group !== "form") && (layout === "form")){%>
			<label for="<%=name%>" class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<a 
				<% if  ( group === "grid") { %>
					id = "form<%=id%>"
					name ="form<%=name%>"
				<%} else{%>
					id = "form[<%=id%>]"
					name ="form[<%=name%>]"
				<%}%>
				href="<%=href%>" target="<%=target%>" class="btn btn-link <%=namespace%>-control-<%=type%>"
				<% if(disabled === true){%>disabled<%}%>> 
				<span> <%= value %> </span>
			</a>
			<% if (group === "form") { %>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>						
			<% } %>
		</div>
    </div>
 </script>

 <script type="text/template" id="tpl-empty">
		<div class="form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> tpl-empty">
        </div>   
 </script>

 <script type="text/template" id="tpl-label-title">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%>">
		<h4 id="form[<%=id%>]" name="form[<%=id%>]">
			<p class="<%=className[type]%>">
				<span class="textlabel"><%= label %></span>
			</p>
		</h4>				
	</div>
 </script>

 <script type="text/template" id="tpl-label-subtitle">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%>">
		<h5 id="form[<%=id%>]" name="form[<%=id%>]">
			<p class="<%=className[type]%>">
				<span class="textlabel"><%= label %></span>
			</p>
		</h5>				
	</div>
 </script>

<script type="text/template" id="tpl-label">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
		<% if(group === "form") {%>
			<label class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
	        	<span class="textlabel"><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	        </label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
			<div class="pmdynaform-label-options">
				<%if(originalType=="suggest"){%>
				<%}%>
				<%for(var k=0; k<fullOptions.length; k+=1){%>
					<span><%=fullOptions[k]%></span>
				<%}%>
				<input type="hidden" value="<%= data['label']%>"
					<% if  ( group === "grid") { %>
						id = "form<%=id%>"
						name ="form<%=name%>"
					<%} else{%>
						id = "form[<%=id%>]"
						name ="form[<%=name%>]"
					<%}%>
				>
				<input type="hidden" value="<%= data['label']%>"
					<% if  ( group === "grid") { %>
						id = "form<%=id%>_label"
						name ="form<%=name%>_label"
					<%} else{%>
						id = "form[<%=id%>_label]"
						name ="form[<%=name%>_label]"
					<%}%>
				>
			</div>
			<% if (group === "form") { %>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>						
			<% } %>
		</div>
	</div>
</script>

<script type="text/template" id="tpl-hidden">
		<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> pmdynaform-field">
			<input 	
				<% if  ( group === "grid") { %>
					id = "form<%=id%>"
					name ="form<%=name%>"
				<%} else{%>
					id = "form[<%=id%>]"
					name ="form[<%=name%>]"
				<%}%>
				class="<%=namespace%>-control-<%=type%> form-control" 
				type="hidden"
				value= "<%= value%>">
			<input type="hidden" value="<%= data['value']%>"
				<% if  ( group === "grid") { %>
					id = "form<%=id%>_label"
					name ="form<%=name%>_label"
				<%} else{%>
					id = "form[<%=id%>_label]"
					name ="form[<%=name%>_label]"
				<%}%>
		</div>
</script>

<script type="text/template" id="tpl-image">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%> pmdynaform-field">
        <label for="<%=name%>" class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
        	<span class="textlabel"><%= label %></span>
        </label>
        <div class="<%=namespace%>-control-<%=type%> col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control">
        	<p class="<%=namespace%>-control-<%=type%> control">
        		<img id="<%=id%>" name="<%=name%>" class="img-responsive <%=shape%>" src="<%=src%>" alt="<%=alt%>" scale="0">	
        		<span class="pmdynaform-image-comment text-primary"><%=comment%></span>
        	</p>
			<% if (group === "form") { %>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>						
			<% } %>
        </div>        
	</div>
</script>

<script type="text/template" id="tpl-audio">
	<audio class="embed-responsive-item" src="<%=path%>" width="200" height="200" autobuffer autoplay controls>
		<p>Your browser does not support the audio element </p>
	</audio>
</script>

<script type="text/template" id="tpl-video">
	<video class="embed-responsive-item" src="<%=path%>"  width="200" height="200" autoplay autobuffer controls>
		<p>Your browser does not support the video element </p>
	</video>
</script>

<script type="text/template" id="tpl-form">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>">
	</div>
</script>

<script type="text/template" id="tpl-loading">
	<div class="pmdynaform-form-message-loading">
	    <h3><%=title%></h3>
    	<div class="alert alert-warning" role="alert">
	    	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
			 <strong><%=msg%></strong>
	     </div>
		
	</div>
	<div id="shadow-form"></div>
</script>

<script type='text/template' id='tpl-datetime2'>
    <div id='<%=id%>' name='field-<%=name%>' class='<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%>'>
		<% if(group === 'form') {%>
            <label for='<%=name%>' class='col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label'> 
				<span data-toggle='tooltip' data-placement='bottom' class="textlabel"><%= label %></span>
	            <%if(required){%>
		  			<span class='pmdynaform-field-required'>*</span>
		  		<%}%>
            </label>
        <%} else if((group !== 'form') && (layout === 'form')){%>
			<label for='<%=name%>' class='hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>'>  
		  		<span class="textlabel"><%= label %></span>
		  	</label>
		<%}%>

		<div <%if (group === 'form'){ %> 
	  			class='col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%> pmdynaform-field-control'
	  		<%} else if (layout === 'form'){ %>
	  			class='col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12'
	  		<%} else if (layout === 'responsive') {%> 
	  			class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
	  		<%}%>>
			    <div class='datetime-container'>
					<div id ='datetime-container-control' class='input-group date' <%if (group === 'form'){ %> 
				  			class='form-control'
				  		<%} else if (layout === 'form'){ %>
				  			class='col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12'
				  		<%} else if (layout === 'responsive') {%> 
				  			class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
				  		<%}%>>
				        <input type='text' class='form-control' 
							<% if  ( group === 'grid') { %>
								id = 'form<%=id%>'
								name ='form<%=name%>'
							<%} else{%>
								id = 'form[<%=id%>]'
								name ='form[<%=name%>]'
							<%}%>
				    			class='<%=namespace%>-control-<%=type%> form-control' 
				    			type='text'
				    			placeholder= '<%= placeholder %>'
								value= '<%= value%>'
				    			<% if(disabled === true){%>disabled<%}%>
				    			></input>
								<input type='hidden' 
									<% if  ( group === 'grid') { %>
										id = 'form<%=id%>_label'
										name ='form<%=name%>_label'
									<%} else{%>
										id = 'form[<%=id%>_label]'
										name ='form[<%=name%>_label]'
										value = '<%= data['label']%>'
									<%}%>
								>
				        <span class='input-group-addon'><span class='<%if (format === 'LT'){%>glyphicon glyphicon-time<%}else{%>glyphicon glyphicon-calendar<%}%>'>
					        </span>
				        </span>
				    </div>
			    </div>
				<% if (group === 'form') { %>
					<%if (hint !== "" && hint !== null){%>
						<span class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='bottom' title='<%=hint%>'></span>
					<%}%>						
				<% } %>
			</div>
		</div>
</script>