<script type='text/template' id='tpl-datetime2'>
    <div id='field-<%=id%>' name='field-<%=name%>' class='<%=namespace%>-field-<%=type%> <%=namespace%>-<%=mode%>-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%>'>
		<% if(group === 'form') {%>
            <label for='<%=name%>' class='col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label'> 
				<span data-toggle='tooltip' data-placement='bottom'><%= label %></span>
	            <%if(required){%>
		  			<span class='pmdynaform-field-required'>*</span>
		  		<%}%>
            </label>
        <%} else if((group !== 'form') && (layout === 'form')){%>
			<label for='<%=name%>' class='hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>'>  
		  		<span><%= label %></span>
		  	</label>
		<%}%>

		<div <%if (group === 'form'){ %> 
	  			class='col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>'
	  		<%} else if (layout === 'form'){ %>
	  			class='col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12'
	  		<%} else if (layout === 'responsive') {%> 
	  			class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
	  		<%}%>>
			    <div class='datetime-container'>
					<div id ='datetime-container-control' class='input-group date' <%if (group === 'form'){ %> 
				  			class='form-control'
				  		<%} else if (layout === 'form'){ %>
				  			class='col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12'
				  		<%} else if (layout === 'responsive') {%> 
				  			class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
				  		<%}%>>
				        <input type='text' class='form-control' 
							<% if  ( group === 'grid') { %>
								id = 'form<%=id%>'
								name ='form<%=name%>'
							<%} else{%>
								id = 'form[<%=id%>]'
								name ='form[<%=name%>]'
							<%}%>
				    			class='<%=namespace%>-control-<%=type%> form-control' 
				    			type='text'
				    			placeholder= '<%= placeholder %>'
								value= '<%= value%>'
				    			<% if(disabled === true){%>disabled<%}%>
				    			></input>
								<input type='hidden' 
									<% if  ( group === 'grid') { %>
										id = 'form<%=id%>_label'
										name ='form<%=name%>_label'
									<%} else{%>
										id = 'form[<%=id%>_label]'
										name ='form[<%=name%>_label]'
										value = '<%= data['label']%>'
									<%}%>
								>
				        <span class='input-group-addon'><span class='<%if (format === 'LT'){%>glyphicon glyphicon-time<%}else{%>glyphicon glyphicon-calendar<%}%>'>
					        </span>
				        </span>
				    </div>
			    </div>
				<% if (group === 'form') { %>
					<%if (hint !== "" && hint !== null){%>
						<span class='glyphicon glyphicon-info-sign' data-toggle='tooltip' data-placement='bottom' title='<%=hint%>'></span>
					<%}%>						
				<% } %>
			</div>
		</div>
    </div>
</script>