<script type="text/template" id="tpl-panelField">
	<div class="panel panel-<%=typePanel%> <%=namespace%>-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>" style="border:<%=border%> solid #ccc;">
		<div class="panel-heading" style="<%if(!showHeader){%>display:none;<%}%>">
			<h3 class="panel-title">
				<div class="header-content">
					<span><%=title%></span>
				</div>
			</h3>
		</div>
	<div class="panel-body">
		<div class = "content-body">

		</div>
	</div>
		<div class="panel-footer" style="<%if(!showFooter){%>display:none<%}%>">
			<div class="footer-content">

			</div>
		</div>
	</div>
</script>


