<script type="text/template" id="tpl-Signature_mobile">
	<div id="<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> alert alert-warning" role="alert">
		<span>
			<p class="<%=namespace%>-control-<%=type%>">
				<span><%= label %></span>
			</p>
		</span>				
	</div>
</script>