<script type="text/template" id="fieldset-template">
	<fieldset>
	    <legend>Options</legend>
	    
	        <div class='col-sm-12'>
	            <div class='form-group'>
	            </div>
	        </div>
	</fieldset>
</script>

<script type="text/template" id="tpl-panelfield">
	<div class="col-xs-<%- colSpan %>">		  			 			 
	</div>
</script>

<script type="text/template" id="tpl-row">
	<div class="pmdynaform-field row show-grid">	      
	</div>
</script>

<!--<script type="text/template" id="tpl-validator">
	<ul>
		<% for (var item in message) {%>
			<li> <span><%= message[item]%> </span> </li>
		<%}%>
	</ul>
</script>-->

<script type="text/template" id="tpl-validator">
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
	  	<% for (var item in message) {%>
			<span><%= message[item]%> </span>
		<%}%>
	</div>
</script>
