.pmdynaform-file-resizeimage-plus {
  max-width: 70px;
  max-height: inherit;
  overflow: hidden;
  width: 70px;
  height: 90px;
  border: 4px solid;
  border-style: dashed;
  border-color: #999999;
  font-size: 60px;
  color: #999999; }

 .pmdynaform-file-resizeaudio-plus {
    max-width: 70px;
    max-height: inherit;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: 4px solid;
    border-style: dashed;
    border-color: #999999;
    font-size: 60px;
    color: #999999; 
}

.pmdynaform-file-droparea-ext {
  height: auto;
  overflow-y: auto;
  position: relative;
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 5px #C0C0C0 inset;
  text-align: center;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  z-index: 2;
  border: 1px solid white; }

.pmdynaform-file-containerimage {
  float: left;
  margin: 10px;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 100px;
  max-height: 120px;
  z-index: 5; }


.pmdynaform-image-ext {
  width: 100px;
  height: auto;  
}

.pmdynaform-file-containeraudio {
  box-shadow: 0 0 19px -2px;
  padding: 10px;
  float: left;
  margin: 20px;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 320px;
  max-height: 120px;
  z-index: 5; 
}


.pmdynaform-file-containervideo {
  box-shadow: 0 0 19px -2px;
  -webkit-box-shadow: 0 0 19px -2px;
  padding: 10px;
  float: left;
  margin: 20px;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 320px;
  max-height: inherit;
  z-index: 5; 
}



.pmdynaform-file-nameaudio{
  text-align: left;
  float: left;
}

.pmdynaform-file-containeraudio .btn-group.btn-group-justified{
  width: 100px;
  float: right;
  margin-bottom: 5px;
}

.pmdynaform-file-containeraudio .pmdynaform-file-resizeimage {
  max-width: none;
  max-height: none;
  min-height: inherit;
  overflow: hidden;
}

.pmdynaform-file-containervideo .pmdynaform-file-resizeimage {
max-width: 100%; 
max-height: 100%;
min-height: 100px;
overflow: hidden;
}