<script type="text/template" id="tpl-extfile">
	<div id="<%=id%>" name="<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
	    <% if(group === "form") {%>
		    <label class="col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
		    	<span><%= label %></span>
		        <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
		    </label>
		<%} else if((group !== "form") && (layout === "form")){%>
			<label class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if(group === 'form'){ %> class="pmdynaform-file-control" <%}%> >
			<div class="pmdynaform-file-container">
				<button type="button" class="<%=namespace%>-control-<%=type%> form-control" style="display:none">
					<%=labelButton%>
				</button>
				<input type="file" style="display:none;"
					<% if(disabled === true){%>disabled<%}%>
					<% if(multiple === true){%>multiple<%}%>
				>
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>
				<div name="button-all" class="btn-group btn-group-justified" style="display: none;">
					<div class="pmdynaform-file-buttonup btn-group">
						<button class="glyphicon glyphicon-upload btn btn-success btn-sm">
						UPLOAD ALL
						</button>
					</div>
					<div class="pmdynaform-file-buttoncancel btn-group" style="display: none;">
						<button class="glyphicon glyphicon-remove btn btn-danger btn-sm">
						CANCEL ALL
						</button>
					</div>
					<div class="pmdynaform-file-buttonremove btn-group">
						<button class="glyphicon glyphicon-trash btn btn-danger btn-sm">
						REMOVE ALL
						</button>
					</div>						
				</div>
				<% if(dnd) {%>
					<p style="float:left;" class="help-block"><%=dndMessage%></p>
				<%}%>
				
					<div class="pmdynaform-file-droparea-ext"></div>
				
			</div>
		</div>
	</div>
</script>


<script type="text/template" id="tpl-extvideo">
	<div id="<%=id%>" class="pmdynaform-file-containervideo">
		<div id="<%=id%>" class ="pmdynaform-file-nameaudio">
			<span><%=name%></span>
		</div>
		<div class="btn-group btn-group-justified" style="display:none">
	<div class="pmdynaform-file-buttonup btn-group"><button class="glyphicon glyphicon-upload btn btn-success btn-sm"></button></div><div class="pmdynaform-file-buttoncancel btn-group" style="display: none;"><button class="glyphicon glyphicon-remove btn btn-danger btn-sm"></button></div><div class="pmdynaform-file-buttonview btn-group"><button class="glyphicon glyphicon-zoom-in btn btn-primary btn-sm"></button></div><div class="pmdynaform-file-buttonremove btn-group"><button class="glyphicon glyphicon-trash btn btn-danger btn-sm"></button></div></div>

	<span id="<%=id%>" class="pmdynaform-file-preview" style="float: left;">
    	<div class="pmdynaform-file-resizevideo"> 

		</div>
	</span>
</div>
</script>



<script type="text/template" id="tpl-extaudio">
	<div id="<%=id%>" class="pmdynaform-file-containeraudio">
		<div id="<%=id%>" class ="pmdynaform-file-nameaudio">
			<span><%=name%></span>
		</div>
		<div class="btn-group btn-group-justified" style="display:none">
	<div class="pmdynaform-file-buttonup btn-group"><button class="glyphicon glyphicon-upload btn btn-success btn-sm"></button></div><div class="pmdynaform-file-buttoncancel btn-group" style="display: none;"><button class="glyphicon glyphicon-remove btn btn-danger btn-sm"></button></div><div class="pmdynaform-file-buttonview btn-group"><button class="glyphicon glyphicon-zoom-in btn btn-primary btn-sm"></button></div><div class="pmdynaform-file-buttonremove btn-group"><button class="glyphicon glyphicon-trash btn btn-danger btn-sm"></button></div></div>
	
    	<div class="pmdynaform-file-resizevideo">
    		
		</div>
	
</div>
</script>



<script type="text/template" id="tpl-extfile-plus-audio">	
	<div class="pmdynaform-file-containerimage">
		<buttonImage>	
		<span class= "pmdynaform-file-preview">
			<div class = "pmdynaform-file-resizeaudio-plus">
			<span class="glyphicon glyphicon-play-circle" style="margin:5px"></span>
			</div>
		</span>
		</buttonImage>	
	</div>	
</script>

<script type="text/template" id="tpl-extfile-plus-video">	
	<div class="pmdynaform-file-containerimage">
		<buttonImage>	
		<span class= "pmdynaform-file-preview">
			<div class = "pmdynaform-file-resizeaudio-plus">
			<span class="glyphicon glyphicon-film" style="margin:5px"></span>
			</div>
		</span>
		</buttonImage>	
	</div>	
</script>

<script type="text/template" id="tpl-extfile-plus-image">	
	<div class="pmdynaform-file-containerimage">
		<buttonImage>	
		<span class= "pmdynaform-file-preview">
			<div class = "pmdynaform-file-resizeaudio-plus">
			<span class="glyphicon glyphicon-picture" style="margin:5px"></span>
			</div>
		</span>
		</buttonImage>	
	</div>	
</script>


<script type="text/template" id="tpl-media-video">
	<div id="<%=id%>" class="pmdynaform-media-videoContainer">			
	    <video src="<%=src%>" preload="none" controls="true">	       
			<p>Your browser does not support the video tag.</p>
		</video>
			<div class="pmdynaform-media-caption"></div>
			<div class="pmdynaform-media-control" display="none">
				<div class="pmdynaform-media-btmControl">
					<div class="btnPlay btn" title="Play/Pause video">
					<span class="glyphicon glyphicon-play"></span>
					</div>
					<div class="pmdynaform-media-progress-bar">
						<div class="pmdynaform-media-progress-external">
						</div>
						<div class="pmdynaform-media-progress">
							<span class="pmdynaform-media-bufferBar"></span>
							<span class="pmdynaform-media-timeBar"></span>
						</div>
						<div class="pmdynaform-media-progress-external">
						</div>
					</div>					
					<div class="sound sound2 btn" title="Mute/Unmute sound">
						<span class="glyphicon glyphicon-volume-up"></span></div>
					<div class="btnFS btn" title="Switch to full screen">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</div>
				</div>
				
			</div>
		</div>
</script>



<script type="text/template" id="tpl-media-audio">
	<div id="<%=id%>" class="pmdynaform-media-audioContainer">			
	    <audio id="<%=id%>" preload="auto"  >
	    	<source src="<%=src%>" type="audio/mp3">  					
			<source src="<%=src%>" type="audio/m4a">  								
	    	<p>Your browser does not support the video tag.</p>
		</audio>
			<div class="pmdynaform-media-caption"></div>
			<div class="pmdynaform-media-control">
				<div class="pmdynaform-media-btmControl">
					<div class="btnPlay btn" title="Play/Pause video">
						<span class="glyphicon glyphicon-play"></span></div>
					<div class="pmdynaform-media-progress-bar">
						<div class="pmdynaform-media-progress-external">
						</div>
						<div class="pmdynaform-media-progress">
							<span class="pmdynaform-media-bufferBar"></span>
							<span class="pmdynaform-media-timeBar"></span>
						</div>
						<div class="pmdynaform-media-progress-external">
						</div>						
					</div>					
					<div class="sound sound2 btn" title="Mute/Unmute sound">
						<span class="glyphicon glyphicon-volume-up"></span></div>
					<div class="btnFS btn" title="Switch to full screen">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</div>
				</div>
				
			</div>
		</div>
</script>