<script type="text/template" id="tpl-ext-scannercode">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
		<% if(group === "form") {%>
			<label class="col-md-<%=colSpanLabel%> col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
	        	<span><%= label %></span>
	            <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
	        </label>
	    <%} else if((group !== "form") && (layout === "form")){%>
			<label class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if (group === 'form'){ %> 
		  			class="col-md-<%=colSpanControl%> col-lg-<%=colSpanControl%>"
		  		<%} else if (layout === "form"){ %>
		  			class="col-xs-<%=colSpanControl%> col-sm-12 col-md-12 col-lg-12"
		  		<%} else if (layout === "responsive") {%> 
		  			class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
		  		<%}%>>
		  		<scanner>
				<div class="pmdynaform-label-options">
							<span><%=value%></span>							
				</div>
				</scanner>
		  		<button type="button" class="btn btn-default btn-md">
				  	<span class="glyphicon glyphicon-qrcode"></span> <%=labelButton%>
				</button>
				
			<%if (hint !== "" && hint !== null){%>
				<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
			<%}%>
		</div>
	</div>
</script>


<script type="text/template" id="tpl-extfile-plus">	
	<div class="pmdynaform-file-containerimage">
		<buttonImage>	
		<span class= "pmdynaform-file-preview">
			<div class = "pmdynaform-file-resizeimage-plus">+
			</div>
		</span>
		</buttonImage>	
	</div>	
</script>