@media all and (max-width: 1600px) and (min-width: 980px) {
  .form-control {
    display: inline-block;
    width: 93%;
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-image .control {
    display: inline-block;
    width: 93%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-link, .pmdynaform-radio-items {
    display: inline-block;
    width: 93%;
    text-align: left;
    height: 34px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .datetime-container {
    width: 93%;
    display: inline-block; }

  .pmdynaform-container .pmdynaform-field-control {
    float: right; } }
@media all and (max-width: 980px) and (min-width: 550px) {
  .tpl-empty {
    display: none; }

  .form-control {
    display: inline-block;
    width: 93%;
    min-width: 70px;
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-image .control {
    display: inline-block;
    width: 93%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-link, .pmdynaform-radio-items {
    display: inline-block;
    width: 93%;
    text-align: left;
    height: 34px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .datetime-container {
    width: 93%;
    display: inline-block; }

  .pmdynaform-field .pmdynaform-checkbox-items {
    width: 93%; } }
@media all and (max-width: 550px) and (min-width: 300px) {
  .tpl-empty {
    display: none; }

  .form-control {
    display: inline-block;
    width: 91%;
    min-width: 70px;
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-image .control {
    display: inline-block;
    width: 91%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-link, .pmdynaform-radio-items {
    display: inline-block;
    width: 91%;
    text-align: left;
    height: 34px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .datetime-container {
    width: 91%;
    display: inline-block; }

  .pmdynaform-field .pmdynaform-checkbox-items {
    width: 91%; } }
@media all and (max-width: 300px) {
  .tpl-empty {
    display: none; }

  .form-control {
    display: inline-block;
    width: 89%;
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-image .control {
    display: inline-block;
    width: 89%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .pmdynaform-control-link, .pmdynaform-radio-items {
    display: inline-block;
    width: 89%;
    text-align: left;
    height: 34px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

  .datetime-container {
    width: 89%;
    display: inline-block; }

  .pmdynaform-field .pmdynaform-checkbox-items {
    width: 89%; } }
.row {
  margin-left: 5px;
  margin-right: 5px; }

.pmdynaform-field .control-label.pmdynaform-label {
  padding-right: 5px; }

.pmdynaform-field .glyphicon-info-sign {
  float: right;
  right: 0px;
  position: absolute;
  z-index: 100;
  margin-left: 3px; }

.has-feedback .form-control {
  padding: 6px 5px; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-1 {
  padding-left: 10px;
  padding-right: 5px; }

/*
bootstrap-datetimepicker-widget {
  top: 0;
  left: 0;
  z-index: 3000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.dropdown-menu {
  position: relative;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}*/
/*.bootstrap-datetimepicker-widget.dropdown-menu{
	width:auto !important;
	position:relative !important;
	top: 0px !important;
}

.pmdynaform-grid .datetime-container .form-control{
	width : auto
}*/
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: none;
  display: inline-block;
  position: absolute; }

.panel.panel-default.pmdynaform-panel {
  border: 1px solid #ccc;
  overflow: auto; }

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px; }

.pmdynaform-mobile-loading {
  position: fixed;
  background: rgba(3, 3, 3, 0.49);
  color: white;
  font-size: 16px;
  z-index: 11;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.pmdynaform-file-resizeimage-plus {
  max-width: 70px;
  max-height: inherit;
  overflow: hidden;
  width: 70px;
  height: 90px;
  border: 4px solid;
  border-style: dashed;
  border-color: #999999;
  font-size: 60px;
  color: #999999; }

.pmdynaform-file-resizeaudio-plus {
  overflow: hidden;
  border: 4px solid;
  border-style: dashed;
  border-color: #999999;
  font-size: 60px;
  color: #999999; }

.pmdynaform-file-droparea-ext {
  height: auto;
  overflow-y: auto;
  position: relative;
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 5px #C0C0C0 inset;
  text-align: center;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  z-index: 2;
  border: 1px solid white; }

.pmdynaform-file-containerimage {
  float: left;
  margin: 10px;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 100px;
  max-height: 120px;
  z-index: 5; }

.pmdynaform-image-ext {
  width: 100px;
  height: auto; }

.pmdynaform-file-containervideo {
  float: left;
  margin: 5px;
  position: relative;
  text-align: center;
  max-width: 320px;
  min-width: 240px;
  max-height: inherit;
  z-index: 5;
  background-color: green; }

.pmdynaform-file-containervideo .btn-group.btn-group-justified {
  width: 100px;
  float: right;
  margin-bottom: 5px; }

.pmdynaform-file-containervideo .pmdynaform-file-preview-background video, audio {
  width: 300px;
  max-width: 500px;
  height: auto;
  margin: 10% 0; }

.pmdynaform-geo-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  width: 100%; }

.pmdynaform-ext-geo {
  height: auto;
  overflow-y: auto;
  position: relative;
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 5px #C0C0C0 inset;
  text-align: center;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  z-index: 2;
  border: 1px solid white; }

.pmdynaform-file-containergeo {
  padding: 10px;
  position: relative;
  width: auto;
  text-align: center;
  max-height: inherit;
  z-index: 5; }

.pmdynaform-file-containergeo .pmdynaform-file-resizeimage {
  max-width: none;
  max-height: none;
  min-height: inherit;
  overflow: hidden; }

.pmdynaform-file-nameaudio {
  text-align: left;
  float: left; }

.pmdynaform-file-containeraudio .btn-group.btn-group-justified {
  width: 100px;
  float: right;
  margin-bottom: 5px; }

.pmdynaform-file-containeraudio .pmdynaform-file-resizeimage {
  max-width: none;
  max-height: none;
  min-height: inherit;
  overflow: hidden; }

.pmdynaform-file-containeraudio {
  float: left;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 320px;
  width: 100%;
  height: 70px;
  max-height: 120px;
  z-index: 5;
  margin-top: 10px; }

.pmdynaform-geo-container .pmdynaform-file-resizeimage > img {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  min-width: 150px;
  height: auto;
  box-shadow: 0px 0px 10px 1px #484848; }

.pmdynaform-media-videoContainer video {
  width: auto !important;
  height: auto !important;
  min-width: 250px;
  min-height: 200px;
  max-width: 250px;
  max-height: 200px;
  border-radius: 6px; }

/* video container */
.pmdynaform-media-videoContainer {
  width: 100%;
  overflow: hidden;
  background: #000;
  color: #ccc;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.pmdynaform-media-videoContainer:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3);
  z-index: 6;
  border-radius: 6px;
  pointer-events: none; }

/* video caption css */
.pmdynaform-media-videoContainer .pmdynaform-media-caption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.pmdynaform-media-videoContainer .pmdynaform-media-control {
  color: #ccc;
  height: 30px;
  position: absolute;
  bottom: 10px;
  heigth: 30px;
  left: 0px;
  width: 100%;
  z-index: 5;
  display: none; }

/* control bottom part */
.pmdynaform-media-btmControl {
  width: 100%;
  height: 100%;
  clear: both; }

.pmdynaform-media-control .btnPlay {
  float: left;
  width: 10%;
  height: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 6px 0 0 6px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5); }

.pmdynaform-media-control .selected {
  font-size: 15px;
  color: #ccc; }

.pmdynaform-media-control .sound {
  width: 10%;
  height: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.pmdynaform-media-control .muted .icon-sound {
  width: 7px !important; }

.pmdynaform-media-control .btnFS {
  width: 10%;
  height: 100%;
  border-radius: 0 6px 6px 0;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5); }

/* PROGRESS BAR CSS */
/* Progress bar */
.pmdynaform-media-progress-bar {
  width: 68%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
  float: left; }

.pmdynaform-media-progress {
  width: 100%;
  height: 6px;
  padding: 0 5px 0 5px;
  position: relative;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  /* fallback */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px black;
  border-radius: 10px;
  margin-bottom: 0px; }

.pmdynaform-media-progress-external {
  height: 12px; }

.pmdynaform-media-progress span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 10px; }

.pmdynaform-media-timeBar {
  z-index: 10;
  width: 0;
  background: -webkit-linear-gradient(top, #6bcce2 0%, #1da3d0 100%);
  box-shadow: 0 0 7px rgba(107, 204, 226, 0.5); }

.pmdynaform-media-bufferBar {
  z-index: 5;
  width: 0;
  background: rgba(255, 255, 255, 0.2); }

/* VOLUME BAR CSS */
/* volume bar */
.pmdynaform-media-volume {
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 10px;
  float: right;
  margin-top: 10px;
  margin-right: 10px; }

.pmdynaform-media-volumeBar {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  z-index: 10; }

.pmdynaform-media-audioContainer video {
  width: 100%;
  height: 100%;
  border-radius: 6px; }

/* video container */
.pmdynaform-media-audioContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #ccc;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.pmdynaform-media-audioContainer .pmdynaform-media-control {
  color: #ccc;
  height: 30px;
  position: none;
  bottom: 10px;
  left: 0px;
  width: 100%;
  z-index: 5;
  display: none; }

/* video caption css */
.pmdynaform-media-audioContainer .pmdynaform-media-caption {
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

.pmdynaform-media-audioContainer:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3);
  z-index: 6;
  border-radius: 6px;
  pointer-events: none; }

textarea {
  resize: vertical; }

.pmdynaform-message-error {
  color: white;
  display: inline-block;
  /*background-color: #C73434;*/
  /*box-shadow: 0 0 2px #570808;
  -webkit-box-shadow: 0 0 2px #570808; 
  -moz-box-shadow: 0 0 2px #570808;*/
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-size: 80%;
  font-family: helvetica;
  text-align: center; }

.pmdynaform-message-error .alert {
  margin: 0;
  padding: 2px;
  margin-bottom: 0;
  background: #e4655f;
  border: 1px solid #e14333;
  color: white;
  border-radius: 0px; }

.pmdynaform-field-required {
  color: #e84c3d;
  padding-left: 2px;
  text-align: center;
  display: inline-block; }

.has-error .form-control {
  border-color: #e4655f; }

.has-error .control-label {
  border-color: #555151; }

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.eot");
  src: url("fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.eot") format("embedded-opentype"), url("fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.woff") format("woff"), url("fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.svg") format("svg"); }

@font-face {
  font-family: "SourceSansProBold";
  src: url("fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.eot");
  src: url("fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.eot") format("embedded-opentype"), url("fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.woff") format("woff"), url("fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.svg") format("svg"); }

.pmdynaform-container, .pmdynaform-formcontainer {
  width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none; }

.pmdynaform-form {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-top: 1px;
  margin-right: auto;
  margin-bottom: 1px;
  margin-left: auto;
  background: #F6F5F3;
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  font-family: "SourceSansPro", Arial, Tahoma, Verdana;
  /*font: 12px Georgia, "Times New Roman", Times, serif;*/
  color: #555151;
  border: 1px solid #DADADA; }

.pmdynaform-radio-items,
.pmdynaform-checkbox-items {
  display: inline-block; }

.pmdynaform-checkbox-hint,
.pmdynaform-radio-hint {
  vertical-align: top;
  padding-top: 8px;
  padding-left: 10px; }

.pmdynaform-align-hint {
  vertical-align: top; }

.pmdynaform-scroll {
  overflow: auto; }

.pmdynaform-form-message-loading {
  position: fixed;
  background: transparent;
  color: white;
  font-size: 16px;
  z-index: 11;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%; }

#shadow-form {
  position: absolute;
  background: black;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  opacity: 0.8; }

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }

  to {
    transform: scale(1) rotate(360deg); } }

.pmdynaform-label {
  overflow: hidden;
  text-overflow: ellipsis; }

.pmdynaform-label-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.pmdynaform-label p {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #fff; }

.pmdynaform-field-title, .pmdynaform-field-subtitle p {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #fff; }

.pmdynaform-label-title {
  background-color: #3397e1;
  padding: 10px; }

.pmdynaform-label-subtitle {
  background-color: #44afff;
  padding: 8px; }

.pmdynaform-label-options {
  padding: 7px 10px;
  background-color: #f1eded;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.pmdynaform-label-options span {
  display: block; }

.pmdynaform-field-label {
  margin: 0 10px; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bootstrap-datetimepicker-widget {
  top: 0;
  left: 0;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 3000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.bootstrap-datetimepicker-widget:before {
  /*content:'';*/
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px; }

.bootstrap-datetimepicker-widget:after {
  /*content:'';*/
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 7px; }

.bootstrap-datetimepicker-widget
.pull-right:before {
  left: auto;
  right: 6px; }

.bootstrap-datetimepicker-widget
.pull-right:after {
  left: auto;
  right: 7px; }

.bootstrap-datetimepicker-widget > ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }

.bootstrap-datetimepicker-widget
.timepicker-hour,
.bootstrap-datetimepicker-widget
.timepicker-minute,
.bootstrap-datetimepicker-widget
.timepicker-second {
  width: 100%;
  font-weight: bold;
  font-size: 1 0.2em; }

.bootstrap-datetimepicker-widget table[data-hour-format="12"]
.separator {
  width: 4px;
  padding: 0;
  margin: 0; }

.bootstrap-datetimepicker-widget
.datepicker > div {
  display: none; }

.bootstrap-datetimepicker-widget
.picker-switch {
  text-align: center; }

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0; }

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover {
  background: #eee;
  cursor: pointer; }

.bootstrap-datetimepicker-widget td.old,
.bootstrap-datetimepicker-widget td.new {
  color: #999999; }

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bootstrap-datetimepicker-widget td.active:hover,
.bootstrap-datetimepicker-widget td.active:hover:hover,
.bootstrap-datetimepicker-widget td.active:active,
.bootstrap-datetimepicker-widget td.active:hover:active,
.bootstrap-datetimepicker-widget td.active.active,
.bootstrap-datetimepicker-widget td.active:hover.active,
.bootstrap-datetimepicker-widget td.active.disabled,
.bootstrap-datetimepicker-widget td.active:hover.disabled,
.bootstrap-datetimepicker-widget td.active[disabled],
.bootstrap-datetimepicker-widget td.active:hover[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3; }

.bootstrap-datetimepicker-widget td.active:active,
.bootstrap-datetimepicker-widget td.active:hover:active,
.bootstrap-datetimepicker-widget td.active.active,
.bootstrap-datetimepicker-widget td.active:hover.active {
  background-color: #039 \9; }

.bootstrap-datetimepicker-widget td.disabled,
.bootstrap-datetimepicker-widget td.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed; }

.bootstrap-datetimepicker-widget td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.bootstrap-datetimepicker-widget td span:hover {
  background: #eeeeee; }

.bootstrap-datetimepicker-widget td span.active {
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bootstrap-datetimepicker-widget td span.active:hover,
.bootstrap-datetimepicker-widget td span.active:active,
.bootstrap-datetimepicker-widget td span.active.active,
.bootstrap-datetimepicker-widget td span.active.disabled,
.bootstrap-datetimepicker-widget td span.active[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3; }

.bootstrap-datetimepicker-widget td span.active:active,
.bootstrap-datetimepicker-widget td span.active.active {
  background-color: #039 \9; }

.bootstrap-datetimepicker-widget td span.old {
  color: #999999; }

.bootstrap-datetimepicker-widget td span.disabled,
.bootstrap-datetimepicker-widget td span.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed; }

.bootstrap-datetimepicker-widget th.switch {
  width: 145px; }

.bootstrap-datetimepicker-widget th.next,
.bootstrap-datetimepicker-widget th.prev {
  font-size: 21px; }

.bootstrap-datetimepicker-widget th.disabled,
.bootstrap-datetimepicker-widget th.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed; }

.bootstrap-datetimepicker-widget thead tr:first-child th {
  cursor: pointer; }

.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: #eeeeee; }

.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px; }

.bootstrap-datetimepicker-widget.left-oriented:before {
  left: auto;
  right: 6px; }

.bootstrap-datetimepicker-widget.left-oriented:after {
  left: auto;
  right: 7px; }

.pmdynaform-datetime-icon {
  cursor: pointer; }

.pmdynaform-grid-fields {
  /*display: inline-table;
  width: 96%;*/ }

.pmdynaform-grid-thead-static {
  padding-left: 44px;
  margin-right: 65px;
  overflow-x: hidden; }

.pmdynaform-grid-tbody {
  background-color: white;
  overflow: hidden;
  padding: 0px; }

.pmdynaform-grid-title, .pmdynaform-grid-pagination {
  text-align: center; }

.pmdynaform-grid-title {
  font-weight: bold;
  font-size: 16px; }

.pmdynaform-grid-pagination > ul {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.pmdynaform-grid-removerow {
  float: right; }

.pmdynaform-grid-row {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  padding-top: 10px;
  background-color: #fafafa; }

.pmdynaform-grid-label {
  padding-top: 7px; }

.pmdynaform-grid-static {
  display: table;
  overflow: auto;
  width: auto; }

.pmdynaform-grid-removerow-static {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  display: table-cell; }

.pmdynaform-grid-removerow-static.remove-row .btn-danger {
  top: -7px; }

.pmdynaform-grid-field-static {
  width: 250px;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  display: table-cell;
  min-width: 200px;
  vertical-align: top;
  heigth: 40px; }

.pmdynaform-grid-functions > .total {
  background: #eee;
  padding: 5px 0;
  border: 1px solid #cecaca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #616161;
  font-size: 12px; }

/*.pmdynaform-grid .pmdynaform-grid-row .index-row,
.pmdynaform-grid .pmdynaform-grid-row .remove-row,
.pmdynaform-grid .wildcard{
	width : 50px;
}*/
.pmdynaform-grid .pmdynaform-grid-row .index-row {
  float: left; }

/*
.pmdynaform-grid .pmdynaform-grid-row .remove-row{
	float : rigth
}*/
@media all and (max-width: 1600px) and (min-width: 980px) {
  .col-lg-6.form .control-label,
  .col-lg-5.form .control-label,
  .col-lg-4.form .control-label,
  .col-lg-3.form .control-label,
  .col-lg-2.form .control-label,
  .col-lg-1.form .control-label {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    width: 33%;
    display: block !important; }

  .col-lg-6.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-5.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-4.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-3.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-2.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-1.form .col-xs-8.col-sm-12.col-md-12.col-lg-12 {
    width: 66%; }

  .col-lg-6 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-5 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-4 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-3 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-2 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-1 .pmdynaform-grid-fields .col-xs-12 {
    width: 100%; }

  .col-lg-6 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-5 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-4 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-3 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-2 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-1 .pmdynaform-grid-fields .hidden-xs {
    display: none !important; }

  .col-sm-6.col-md-6.col-lg-6.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-5.col-md-5.col-lg-5.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-4.col-md-4.col-lg-4.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-3.col-md-3.col-lg-3.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-2.col-md-2.col-lg-2.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-1.col-md-1.col-lg-1.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form {
    display: block !important; }

  .pmdynaform-field-grid.form .row.form-group .form-control {
    margin-top: 4px; }

  .pmdynaform-field-grid.form .pmdynaform-form .rowIndex {
    width: 30%; } }
@media all and (max-width: 980px) and (min-width: 550px) {
  .pmdynaform-field-grid.responsive .pmdynaform-grid .glyphicon-info-sign {
    display: none; }

  .col-lg-6.form .control-label,
  .col-lg-5.form .control-label,
  .col-lg-4.form .control-label,
  .col-lg-3.form .control-label,
  .col-lg-2.form .control-label,
  .col-lg-1.form .control-label {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    width: 33%;
    display: block !important; }

  .col-lg-6.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-5.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-4.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-3.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-2.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
  .col-lg-1.form .col-xs-8.col-sm-12.col-md-12.col-lg-12 {
    width: 66%; }

  .col-lg-6 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-5 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-4 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-3 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-2 .pmdynaform-grid-fields .col-xs-12,
  .col-lg-1 .pmdynaform-grid-fields .col-xs-12 {
    width: 100%; }

  .col-lg-6 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-5 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-4 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-3 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-2 .pmdynaform-grid-fields .hidden-xs,
  .col-lg-1 .pmdynaform-grid-fields .hidden-xs {
    display: none !important; }

  .col-sm-6.col-md-6.col-lg-6.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-5.col-md-5.col-lg-5.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-4.col-md-4.col-lg-4.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-3.col-md-3.col-lg-3.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-2.col-md-2.col-lg-2.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
  .col-sm-1.col-md-1.col-lg-1.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form {
    display: block !important; }

  .pmdynaform-field-grid.form .row.form-group .form-control {
    margin-top: 4px; }

  .pmdynaform-field-grid.form .pmdynaform-form .rowIndex {
    width: 30%; } }
@media all and (max-width: 550px) and (min-width: 300px) {
  .pmdynaform-field-grid.responsive .pmdynaform-grid .glyphicon-info-sign {
    display: none; }

  .pmdynaform-field-grid.form .row.form-group .form-control {
    margin-top: 4px; } }
.pmdynaform-field-grid .pmdynaform-grid-fields .form-group {
  margin-bottom: 0px; }

.pmdynaform-field-grid .responsive .form-horizontal .form-group {
  margin: 0px; }

.pmdynaform-field-grid .responsive .form-group {
  with: 100%; }

.pmdynaform-field-grid.responsive .remove-row {
  position: absolute;
  right: 0px;
  margin-right: 2%; }

.pmdynaform-edit-grid .pmdynaform-field-required {
  font-size: 19px;
  position: absolute;
  margin-left: 7%; }

.pmdynaform-edit-view .pmdynaform-field-required {
  display: none; }

.pmdynaform-edit-disabled .pmdynaform-field-required {
  display: none; }

/*.row.pmdynaform-grid-thead{
	padding: 5px 20px 5px 20px;
}*/
.pmdynaform-grid-thead .glyphicon-info-sign {
  right: initial; }

.pmdynaform-image-viewer {
  padding: 0;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%; }

.pmdynaform-image-comment {
  display: block; }

/* Suggest Field */
@media all and (max-width: 1600px) and (min-width: 990px) {
  .pmdynaform-suggest-list {
    box-shadow: 2px 10px 29px #818181;
    padding-right: 0;
    cursor: pointer;
    width: 92%;
    overflow: auto;
    padding-right: 0; } }
@media all and (max-width: 990px) and (min-width: 10px) {
  .pmdynaform-suggest-list {
    box-shadow: 2px 10px 29px #818181;
    padding-right: 0;
    cursor: pointer;
    overflow: auto;
    padding-right: 0;
    width: 90%; } }
/*@media all and (max-width: 550px) and (min-width: 300px) {
	.pmdynaform-suggest-list {
		box-shadow: 2px 10px 29px grey;
		padding-right: 0;
		cursor: pointer;
		width:87%;
	}	
}*/
.pmdynaform-suggest-list-keyboard {
  text-decoration: none;
  background-color: #838181;
  color: white;
  cursor: pointer;
  border: 1px solid #838181; }

/* Suggest Field - Items list*/
.list-group-item:hover, .list-group-item:focus {
  text-decoration: none;
  background-color: #838181;
  color: white;
  cursor: pointer;
  border: 1px solid #838181; }

/*.pmdynaform-file-control > button {
	margin: 10px;
	display: inline-block !important;
}*/
.pmdynaform-file-droparea {
  border-style: dotted;
  border-color: white;
  margin: 1px;
  height: 200px;
  padding-left: 5%;
  padding-right: 5%; }

.pmdynaform-file-control {
  border-style: dotted;
  border-color: #e4e4e4;
  padding-top: 10px; }

.pmdynaform-file-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  float: inherit; }

.pmdynaform-file-resizeimage {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  overflow: hidden; }

.pmdynaform-file-droparea {
  min-height: 210px;
  overflow-y: auto;
  position: relative;
  background: none repeat scroll 0 0 #F7F7F7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 0 5px #C0C0C0 inset;
  text-align: center;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  z-index: 2;
  border: 1px solid #fff;
  /*margin: 10px 10px;*/
  margin-bottom: 10px;
  width: 97%;
  float: right; }

.pmdynaform-file-list {
  background: #F7F7F7;
  height: auto;
  text-align: left;
  margin: 10px;
  text-shadow: 1px 1px 1px #d7d7d7, 0.4px 0px 0px rgba(0, 0, 0, 0.7);
  width: 100%;
  float: left; }

.text {
  font-size: 11px;
  text-align: center;
  font-size: 24px;
  color: #8F8F8F;
  margin-top: 7%; }

.pmdynaform-file-active {
  box-shadow: 0 0px 20px #818378 inset; }

.pmdynaform-file-containerimage {
  float: left;
  margin: 20px 5px;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 100px;
  max-height: 120px;
  z-index: 5; }

.pmdynaform-file-preview {
  display: inline-block;
  position: relative; }

/*@media all and (max-width: 1600px) and (min-width: 990px) {

}*/
.pmdynaform-file-resizeimage > img {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px 1px #484848; }

.pmdynaform-file-overlay {
  background: rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.pmdynaform-file-overlay span {
  position: absolute;
  top: 35%;
  color: black;
  font-weight: bold; }

.pmdynaform-file-overlay .pmdynaform-file-updone {
  position: relative;
  text-align: right;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  font-size: 25px;
  text-align: right; }

.pmdynaform-file-progress {
  height: 8px;
  /* Can be anything */
  position: relative;
  background: #555;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }

.pmdynaform-file-progress span {
  border: 1px solid #125825;
  width: 0px;
  display: block;
  margin-top: 10px;
  text-align: right;
  height: 6px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
  background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: -ms-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden; }

.pmdynaform-file-boxpreview,
.pmdynaform-file-boxpreview-file,
.pmdynaform-file-boxpreview-video,
.pmdynaform-file-boxpreview-audio {
  background: #d7e0e7;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 0px 10px 1px #484848;
  font-size: 20px;
  min-height: 80px;
  min-width: 80px;
  margin: 10px; }

.pmdynaform-file-boxpreview-video {
  background: #C5DDF3;
  border: 1px solid #A6C3EE; }

.pmdynaform-file-boxpreview-audio {
  background: #F3F1C5;
  border: 1px solid #CCD322; }

.pmdynaform-file-listitem {
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.pmdynaform-file-shadow {
  z-index: 9;
  background: #000000;
  width: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.pmdynaform-file-preview-background {
  z-index: 10;
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0; }

.pmdynaform-file-preview-background > span {
  color: white;
  cursor: pointer;
  float: right;
  position: fixed;
  z-index: 10;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 40%; }

.pmdynaform-file-preview-background img {
  margin-top: 10%;
  text-align: center;
  position: relative;
  border: 1px solid #c4c4c4;
  max-width: 90%;
  max-height: 80%;
  -webkit-box-shadow: 10px 10px 20px black;
  -moz-box-shadow: 10px 10px 20px black;
  -ms-box-shadow: 10px 10px 20px black;
  box-shadow: 10px 10px 20px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.pmdynaform-file-preview-background video, audio {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 10% 0; }

.pmdynaform-file-preview-background audio {
  margin: 20% 0; }

.pmdynaform-file-preview-background p {
  color: white;
  font-size: 14px;
  margin: 2%; }

.pmdynaform-file-container div[name="button-all"] {
  float: right;
  margin: 0 10px;
  width: 50%;
  margin: 10px 10px; }

.pmdynaform-file-preview-image {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.pmdynaform-map-canvas {
  height: 300px;
  width: 100%;
  border: 1px solid #c7c7c7; }

.pmdynaform-map-layer-disabled {
  width: 100%;
  height: 300px;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0.1;
  overflow: hidden; }

.pmdynaform-map-fullscreen {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-left: auto;
  text-align: center; }
