@import 'mixins';
@font-face {
	font-family: "SourceSansPro";
	src: url('fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.eot');
	src: url('fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.ttf') format('truetype'), 
	url('fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.eot') format('embedded-opentype'), 
	url('fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.woff') format('woff'), 
	url('fonts/SourceSansPro-Regular/SourceSansPro-Regular-webfont.svg') format('svg');
}
@font-face {
	font-family: "SourceSansProBold";
	src: url('fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.eot');
	src: url('fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.ttf') format('truetype'), 
	url('fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.eot') format('embedded-opentype'), 
	url('fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.woff') format('woff'), 
	url('fonts/SourceSansPro-Bold/SourceSansPro-Bold-webfont.svg') format('svg');
}
.pmdynaform-container, .pmdynaform-formcontainer {
	width: 99%;
	//height: 95%;
	display: block;
	margin : {
		left: auto;
		right: auto;
	};
	padding: {
		left: 1%;
		right: 1%;
	};
	overflow: hidden;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.pmdynaform-form {
	overflow: auto;
  	width: 100%;
	height : 100%;
	margin: {
		top: 1px;
		right: auto;
		bottom: 1px;
		left: auto;
	}
	background: #F6F5F3;
	padding: 5px 20px 5px 20px;
	font-size: 1em;
	font-family: "SourceSansPro", Arial, Tahoma, Verdana;
	/*font: 12px Georgia, "Times New Roman", Times, serif;*/
	color: #555151;
	border: 1px solid #DADADA;
	
}

.pmdynaform-radio-items, 
.pmdynaform-checkbox-items {
	display: inline-block;
}
.pmdynaform-checkbox-hint, 
.pmdynaform-radio-hint {
	vertical-align: top;
	padding-top: 8px;
	padding-left: 10px;
}
.pmdynaform-align-hint {
	vertical-align: top;
}
.pmdynaform-scroll {
	overflow: auto;
}
.pmdynaform-form-message-loading {
	position: fixed;
	background: transparent;
	color: white;
	font-size: 16px;
	z-index: 11;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 100%;
}
#shadow-form {
	position: absolute;
	background: black;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 100%;	
	opacity: 0.8;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}