@import 'mixins';
/*.pmdynaform-file-control > button {
	margin: 10px;
	display: inline-block !important;
}*/
.pmdynaform-file-droparea {
	border: {
		style: dotted;
		color: white;
	}
	margin: 1px;
	height: 200px;
	padding: {
		left: 5%;
		right: 5%;
	}
}
.pmdynaform-file-control {
	border-style: dotted;
	border-color: rgb(228, 228, 228);
	padding-top: 10px;
}

.pmdynaform-file-container {
	@include border-radius(5px);
	overflow: hidden;
	text-align: center;
	float: inherit;
}

.pmdynaform-file-resizeimage {
	max-width: 100px;
    max-height: 100px;
    min-height: 100px;
	overflow: hidden;
}

.pmdynaform-file-droparea {
	min-height: 210px;
	overflow-y: auto;
	position: relative;
	background: none repeat scroll 0 0 #F7F7F7;
    @include border-radius(8px);
    box-shadow: 0 0 5px #C0C0C0 inset;
    text-align: center;
    text-shadow: 1px 1px 1px #D7D7D7, 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s linear 0s;
	z-index: 2;
	border:1px solid #fff;
	/*margin: 10px 10px;*/
        margin-bottom: 10px;
	width: 97%;
	float: right;
}
.pmdynaform-file-list {
	background: #F7F7F7;
	height: auto;
	text-align: left;
	margin: 10px;
	text-shadow: 1px 1px 1px #d7d7d7, 0.4px 0px 0px rgba(0, 0, 0, 0.7);
	width: 100%;
	float: left;
}
.text{
    font-size: 11px;
    text-align: center;
	font-size: 24px;
	color: #8F8F8F;
	margin-top: 7%;
}
.pmdynaform-file-active {
	box-shadow: 0 0px 20px #818378 inset;
}
.pmdynaform-file-containerimage {
    float: left;
    margin: 20px 5px;
    position: relative;
    width: auto;
    text-align: center;
    max-width: 100px;
    max-height: 120px;
	z-index: 5;
}
.pmdynaform-file-preview{
    display: inline-block;
    position: relative;
}
/*@media all and (max-width: 1600px) and (min-width: 990px) {

}*/
.pmdynaform-file-resizeimage > img{
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	@include border-radius(4px);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
	box-shadow: 0px 0px 10px 1px #484848;
}
.pmdynaform-file-overlay{
    background: rgba(255, 255, 255, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.pmdynaform-file-overlay span{
	position: absolute;
	top: 35%;
	color: black;
	font-weight: bold;
}
.pmdynaform-file-overlay .pmdynaform-file-updone{
	position: relative;
    text-align: right;
    text-shadow: 1px 1px 1px #D7D7D7, 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s linear 0s;
	font-size: 25px;
	text-align: right;
}
.pmdynaform-file-progress{
	height: 8px;  /* Can be anything */
	position: relative;
	background: #555;
	@include border-radius(25px);
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.pmdynaform-file-progress span{
	border: 1px solid #125825;
	width: 0px;
	display: block;
	margin-top: 10px;
	text-align: right;
	height: 6px;
	   -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.pmdynaform-file-boxpreview,
.pmdynaform-file-boxpreview-file,
.pmdynaform-file-boxpreview-video,
.pmdynaform-file-boxpreview-audio {
	background: rgb(215, 224, 231);
	border: 1px solid rgb(196, 196, 196);
	box-shadow: 0px 0px 10px 1px #484848;
	font-size: 20px;
	min-height: 80px;
	min-width: 80px;
	margin: 10px;
}
.pmdynaform-file-boxpreview-video {
	background: #C5DDF3;
	border: 1px solid #A6C3EE;
}
.pmdynaform-file-boxpreview-audio {
	background: #F3F1C5;
	border: 1px solid #CCD322;
}
.pmdynaform-file-listitem {
	border: 1px solid #c4c4c4;
	padding: 10px;
	margin: {
		top: 10px;
		right: 10px;
		bottom: 0;
		left: 0;
	}
	@include border-radius(5px);
}
.pmdynaform-file-shadow {
	z-index: 9;
	background: #000000;
	width: 100%;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.pmdynaform-file-preview-background {
	z-index: 10;
	background: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
}
.pmdynaform-file-preview-background > span {
	color: white;
	cursor: pointer;
	float: right;
	position: fixed;
	z-index: 10;
	margin: {
		top: 5%;
		right: 5%;
		bottom: 5%;
		left: 40%;
	}
}
.pmdynaform-file-preview-background img {
	margin-top: 10%;
	text-align: center;
	position: relative;
	border: 1px solid #c4c4c4;
	max-width: 90%;
	max-height: 80%;
	@include box-sizing(10px, 10px, 20px, black);
	@include border-radius(5px);	
}
.pmdynaform-file-preview-background video, audio {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin: 10% 0;
}
.pmdynaform-file-preview-background audio {
	margin: 20% 0;
}
.pmdynaform-file-preview-background p {
	color: white;
	font-size: 14px;
	margin: 2%;
}
.pmdynaform-file-container div[name="button-all"] {
	float: right;
	margin: 0 10px;
	width: 50%;
	margin: 10px 10px;
}
.pmdynaform-file-preview-image {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}