@import 'mixins';
.pmdynaform-grid-fields {
	/*display: inline-table;
	width: 96%;*/
}

.pmdynaform-grid-thead-static{
	padding-left: 44px;
	margin-right: 65px;
	overflow-x: hidden;
}
.pmdynaform-grid-tbody {
	background-color: white;
	overflow: hidden;
	padding : 0px;
}
.pmdynaform-grid-title, .pmdynaform-grid-pagination {
	text-align: center;
}
.pmdynaform-grid-title {
	font-weight : bold;
	font-size : 16px;	
}
.pmdynaform-grid-pagination > ul {
	display: inline-block;
	padding-left: 0;
	margin: 0;
	@include border-radius(4px);
}
.pmdynaform-grid-removerow {
	float: right;
}
.pmdynaform-grid-row {
	@include border-radius(10px);
	border: 1px solid rgb(226, 226, 226);
	padding-top: 10px;
	background-color: rgb(250, 250, 250);
}
.pmdynaform-grid-label {
	padding-top: 7px;
}
.pmdynaform-grid-static {
	display: table;
	overflow: auto;
	width: auto;
}
.pmdynaform-grid-removerow-static {
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	display: table-cell;
}

.pmdynaform-grid-removerow-static.remove-row .btn-danger{
	top: -7px;
}
.pmdynaform-grid-field-static {
	width: 250px;
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
	display: table-cell;
	min-width: 200px;
	vertical-align: top;
	heigth : 40px;
}
.pmdynaform-grid-functions > .total {
	background: #eee;
	padding: 5px 0;
	border: 1px solid rgb(206, 202, 202);
	@include border-radius(5px);
	color: rgb(97, 97, 97);
	font-size: 12px;
}
//richi
/*.pmdynaform-grid .pmdynaform-grid-row .index-row,
.pmdynaform-grid .pmdynaform-grid-row .remove-row,
.pmdynaform-grid .wildcard{
	width : 50px;
}*/

.pmdynaform-grid .pmdynaform-grid-row .index-row {
	float : left;	
}
/*
.pmdynaform-grid .pmdynaform-grid-row .remove-row{
	float : rigth
}*/

@media all and (max-width: 1600px) and (min-width: 980px) {

	.col-lg-6.form .control-label,
	.col-lg-5.form .control-label,
	.col-lg-4.form .control-label,
	.col-lg-3.form .control-label,
	.col-lg-2.form .control-label,
	.col-lg-1.form .control-label{
		margin-top: 0;
		margin-bottom: 0;
	  	padding-top: 7px;
	  	width : 33%;
	  	display: block!important;	  	
	}

	.col-lg-6.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-5.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-4.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-3.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-2.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-1.form .col-xs-8.col-sm-12.col-md-12.col-lg-12{
		width : 66%;
	}

	.col-lg-6 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-5 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-4 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-3 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-2 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-1 .pmdynaform-grid-fields .col-xs-12{
		width: 100%;
	}
	.col-lg-6 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-5 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-4 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-3 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-2 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-1 .pmdynaform-grid-fields .hidden-xs {
		display: none!important;
	}
	.col-sm-6.col-md-6.col-lg-6.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-5.col-md-5.col-lg-5.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-4.col-md-4.col-lg-4.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-3.col-md-3.col-lg-3.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-2.col-md-2.col-lg-2.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-1.col-md-1.col-lg-1.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form{
		display : block !important;
	}

	.pmdynaform-field-grid.form .row.form-group .form-control {
		margin-top: 4px;
	}

	.pmdynaform-field-grid.form .pmdynaform-form .rowIndex{
		width : 30%;
	}
}

@media all and (max-width: 980px) and (min-width: 550px) {
	.pmdynaform-field-grid.responsive .pmdynaform-grid .glyphicon-info-sign{
		display : none;
	}
	.col-lg-6.form .control-label,
	.col-lg-5.form .control-label,
	.col-lg-4.form .control-label,
	.col-lg-3.form .control-label,
	.col-lg-2.form .control-label,
	.col-lg-1.form .control-label{
		margin-top: 0;
		margin-bottom: 0;
	  	padding-top: 7px;
	  	width : 33%;
	  	display: block!important;	
	}
	
	.col-lg-6.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-5.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-4.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-3.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-2.form .col-xs-8.col-sm-12.col-md-12.col-lg-12,
	.col-lg-1.form .col-xs-8.col-sm-12.col-md-12.col-lg-12{
		width : 66%;
	}

	.col-lg-6 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-5 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-4 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-3 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-2 .pmdynaform-grid-fields .col-xs-12,
	.col-lg-1 .pmdynaform-grid-fields .col-xs-12{
		width: 100%;
	}
	.col-lg-6 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-5 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-4 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-3 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-2 .pmdynaform-grid-fields .hidden-xs,
	.col-lg-1 .pmdynaform-grid-fields .hidden-xs {
		display: none!important;
	}
	.col-sm-6.col-md-6.col-lg-6.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-5.col-md-5.col-lg-5.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-4.col-md-4.col-lg-4.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-3.col-md-3.col-lg-3.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-2.col-md-2.col-lg-2.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form,
	.col-sm-1.col-md-1.col-lg-1.pmdynaform-field-grid.form .pmdynaform-form .remove-row-form{
		display : block !important;
	}

	.pmdynaform-field-grid.form .row.form-group .form-control {
		margin-top: 4px;
	}

	.pmdynaform-field-grid.form .pmdynaform-form .rowIndex{
		width : 30%;
	}
}

@media all and (max-width: 550px) and (min-width: 300px) {
	.pmdynaform-field-grid.responsive .pmdynaform-grid .glyphicon-info-sign{
		display : none;
	}
	.pmdynaform-field-grid.form .row.form-group .form-control {
		margin-top: 4px;
	}
}

.pmdynaform-field-grid .pmdynaform-grid-fields .form-group {
	margin-bottom : 0px;
}

.pmdynaform-field-grid .responsive .form-horizontal .form-group {
	margin :0px;
}

.pmdynaform-field-grid .responsive .form-group{
	with :100%;
}
.pmdynaform-field-grid.responsive .remove-row {
  	position: absolute;
  	right : 0px;
  	margin-right : 2%;
}

.pmdynaform-edit-grid .pmdynaform-field-required{
	font-size : 19px;
	position: absolute;
	margin-left: 7%;
}

.pmdynaform-edit-view .pmdynaform-field-required{
	display : none;
}

.pmdynaform-edit-disabled .pmdynaform-field-required{
	display : none;
}
/*.row.pmdynaform-grid-thead{
	padding: 5px 20px 5px 20px;
}*/

.pmdynaform-grid-thead .glyphicon-info-sign{
	right : initial;
}