@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-sizing($hshadow, $vshadow, $blur, $color) {
	-webkit-box-shadow: $hshadow $vshadow $blur $color;
	-moz-box-shadow: $hshadow $vshadow $blur $color;
	-ms-box-shadow: $hshadow $vshadow $blur $color;
	box-shadow: $hshadow $vshadow $blur $color;
}