//CONTROL MEDIA VIDEO

.pmdynaform-media-videoContainer video { 
  width: auto !important;
  height: auto !important;
  min-width:250px;
  min-height: 200px;
  max-width:250px;
  max-height: 200px;   
  border-radius: 6px;  
}

/* video container */
.pmdynaform-media-videoContainer{
  width: 100%;
  //height: 100%;
   
  overflow:hidden;
  background:#000;
  color:#ccc;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}
.pmdynaform-media-videoContainer:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
  z-index: 6;
  border-radius: 6px;
  pointer-events: none;
}

/* video caption css */
.pmdynaform-media-videoContainer .pmdynaform-media-caption{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding: 5px 10px;
  color:#ddd;
  font-size:14px;
  font-weight:300;
  text-align: center;
  background: rgba(0,0,0,0.4);
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.pmdynaform-media-videoContainer .pmdynaform-media-control{
  color:#ccc;
  height: 30px;
  position:absolute;
  bottom:10px;
  heigth:30px;
  left:0px;
  width:100%;
  z-index:5;
  display:none;
}
/* control bottom part */
.pmdynaform-media-btmControl{
  width: 100%;
  height : 100%;
 
  clear:both;
}
.pmdynaform-media-control .btnPlay {
  float:left;
  width:10%;
  height:100%;
  padding:5px;
  background: rgba(0,0,0,0.5);
  cursor:pointer;
  border-radius: 6px 0 0 6px;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}
.pmdynaform-media-control .icon-play{
  
}
.pmdynaform-media-control .icon-pause{
  
}
.pmdynaform-media-control .selected{
  font-size:15px;
  color:#ccc;
}
.pmdynaform-media-control .sound{
  width: 10%;
  height: 100%;
  float:left;
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
  cursor: pointer;
}
.pmdynaform-media-control .icon-sound {   
}
.pmdynaform-media-control .muted .icon-sound{
  width: 7px !important;
}
.pmdynaform-media-control .btnFS{
  width: 10%;
  height: 100%;
  border-radius: 0 6px 6px 0;
  float:left;
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255,255,255,0.5);

}
.pmdynaform-media-control .icon-fullscreen {  

}

/* PROGRESS BAR CSS */
/* Progress bar */
.pmdynaform-media-progress-bar {
  width: 68%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
  float:left;

}

.pmdynaform-media-progress {
  width:100%;
  height:6px;
  padding:0 5px 0 5px;
  position:relative;
  cursor:pointer;
  background: rgba(0,0,0,0.4); /* fallback */
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 1px rgba(0,0,0,1);
  border-radius:10px;
  margin-bottom: 0px;
}

.pmdynaform-media-progress-external {
  height:12px;  
}

.pmdynaform-media-progress span {
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:block;
  border-radius:10px;
}
.pmdynaform-media-timeBar{
  z-index:10;
  width:0;
  background: -webkit-linear-gradient(top, rgba(107,204,226,1) 0%,rgba(29,163,208,1) 100%);
  box-shadow: 0 0 7px rgba(107,204,226,.5);
}
.pmdynaform-media-bufferBar{
  z-index:5;
  width:0;
  background: rgba(255,255,255,0.2);
}

/* VOLUME BAR CSS */
/* volume bar */
.pmdynaform-media-volume{
  position:relative;
  cursor:pointer;
  width:70px;
  height:10px;
  float:right;
  margin-top:10px;
  margin-right:10px;
}
.pmdynaform-media-volumeBar{
  display:block;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:#eee;
  z-index:10;
}

//CONTROL MEDIA AUDIO

.pmdynaform-media-audioContainer video { 
  width: 100%;
  height: 100%;
  border-radius: 6px;  
}

/* video container */
.pmdynaform-media-audioContainer{
  width: 100%;
  height: 100%;
   
  overflow:hidden;
  background:#000;
  color:#ccc;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

.pmdynaform-media-audioContainer .pmdynaform-media-control{
  color:#ccc;
  height: 30px;
  position:none;
  bottom:10px;
  left:0px;
  width:100%;
  z-index:5;
  display:none;
}

/* video caption css */
.pmdynaform-media-audioContainer .pmdynaform-media-caption{ 
  top:0;
  left:0;
  width:100%;
  padding: 5px 10px;
  color:#ddd;
  font-size:14px;
  font-weight:300;
  text-align: center;
  background: rgba(0,0,0,0.4);
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.pmdynaform-media-audioContainer:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
  z-index: 6;
  border-radius: 6px;
  pointer-events: none;
}