@import 'mixins';

/* Suggest Field */
@media all and (max-width: 1600px) and (min-width: 990px) {
	.pmdynaform-suggest-list {
		box-shadow: 2px 10px 29px rgb(129, 129, 129);
		padding-right: 0;
		cursor: pointer;
		width: 92%;
		overflow: auto;
		padding-right: 0;
	}
}
@media all and (max-width: 990px) and (min-width: 10px) {
	.pmdynaform-suggest-list {
		box-shadow: 2px 10px 29px rgb(129, 129, 129);
		padding-right: 0;
		cursor: pointer;
		overflow: auto;
		padding-right: 0; 
		width: 90%;
	}
}

/*@media all and (max-width: 550px) and (min-width: 300px) {
	.pmdynaform-suggest-list {
		box-shadow: 2px 10px 29px grey;
		padding-right: 0;
		cursor: pointer;
		width:87%;
	}	
}*/
.pmdynaform-suggest-list-keyboard {
	text-decoration: none;
	background-color: #838181;
	color: white;
	cursor: pointer;
	border: 1px solid #838181;
}
/* Suggest Field - Items list*/
.list-group-item:hover, .list-group-item:focus {
	text-decoration: none;
	background-color: #838181;
	color: white;
	cursor: pointer;
	border: 1px solid #838181;
}