@import 'mixins';
textarea { 
    resize: vertical; 
}

.pmdynaform-message-error {
    color: white;
    display: inline-block;
    /*background-color: #C73434;*/
    /*box-shadow: 0 0 2px #570808;
    -webkit-box-shadow: 0 0 2px #570808; 
    -moz-box-shadow: 0 0 2px #570808;*/
    position: relative;
    z-index: 10;
    @include border-radius(0px);
    font-size: 80%;
    font-family: helvetica;
    text-align: center;
}

.pmdynaform-message-error .alert {
    margin: 0;
    padding: 2px;
    margin-bottom: 0;
    background: #e4655f;
    border: 1px solid #e14333;
    color : white;
    border-radius : 0px;
}

.pmdynaform-field-required {
    color: #e84c3d;
    padding-left: 2px;
    text-align: center;
    display: inline-block;
}

.has-error .form-control {
    border-color: #e4655f;
}
.has-error .control-label {
    border-color: #555151;
}